::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#vendorFilterList {
    position: relative;
    z-index: 5;
    max-height: 250px;
    overflow-y: scroll;
    font-size: 1.2rem;
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#vendorFilterList a {
    padding: 0.4rem 1rem;
    display: block;
    color: #626262;
}

#vendorFilterList a:visited,
a:active {
    color: #626262;
}

#vendorFilterList a:hover {
    background: #888;
    color: #fff;
}

.card-title h5 strong {
    color: #626262 !important;
}
